div {
    display: inline-block;
    background-color: rgb(169, 212, 212);
    text-align: center;
    border: 1px solid black;
    height: 200px;
    width: 200px;
    
 }
    
 div:hover{
    background-color: aquamarine;
    border: 2px solid;
    
 }
