@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
 
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

body{
    background: rgb(9,9,121);
background: linear-gradient(90deg, rgba(9,9,121,0.7943221830985916) 0%, rgba(21,0,255,0.6506602112676056) 100%);
} 

h1{
    font-family: 'Tangerine', cursive;
    font-size: 50px;
    color: white
 }

 p{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: white
 }
